 
   <!-- file name : footer.ejs
   Name : Jay JOshi
   Student ID : 301318520
	Date : 20-02-2023 -->

 <script src="/jquery/dist/jquery.min.js"></script>
 <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
 <script src="/javascripts/app.js"></script>

</body>
</html>